@font-face {
  font-family: "geo";
  src: url(../assets/font/Geomatrix.otf);
}
@font-face {
  font-family: "geom";
  src: url(../assets/font/GeomatrixMedium.otf);
}
@font-face {
  font-family: "geob";
  src: url(../assets/font/GeomatrixBold.otf);
}
:root {
  --black-stete: #2b2b2b;
  --indigo: #4f46e5;
  --blue: #2563eb;
  --grey: #969696;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(8px, 1vw, 10px);
}

body {
  font-family: geo;
  line-height: 1.5;
  display: flex;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  overflow-y: hidden;
}

.container {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background-color: skyblue;
  flex-basis: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../assets/images/pattern-bg-desktop.png);
  background-size: cover;
}
.header__title {
  font-size: 4rem;
  font-family: geob;
  letter-spacing: 2px;
  color: #fff;
}
.header__form {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1rem;
  margin-bottom: 10rem;
  margin-top: 1rem;
  overflow: hidden;
}
.header__input {
  padding: 1.5rem;
  font-family: geob;
  letter-spacing: 1px;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  width: 50rem;
}
.header__input::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0px;
  font-family: geo;
  opacity: 0.8;
}
.header__input:focus {
  outline: none;
}
@media (width < 400px) {
  .header__input {
    width: 40rem;
  }
}
.header__btn {
  border: none;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: var(--black-stete);
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.header__btn:hover {
  background-color: rgba(43, 43, 43, 0.9);
}
.header__icon {
  font-size: 2rem;
  transform: scale(1.5);
}

.result {
  background-color: #fff;
  list-style: none;
  padding: 3rem;
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 9999;
  box-shadow: 0 0 3rem 1rem rgba(30, 27, 75, 0.2);
  border: 1px solid rgba(30, 27, 75, 0.5);
  overflow: hidden;
}
@media (width < 740px) {
  .result {
    flex-direction: column;
    gap: 3rem;
    transform: translate(50%, 80%);
  }
}
.result li {
  width: 25rem;
  display: flex;
  flex-direction: column;
}
@media (width < 1100px) {
  .result li {
    width: 20rem;
  }
}
@media (width < 740px) {
  .result li {
    width: 35rem;
    align-items: center;
  }
}
.result li {
  border-right: 1px solid rgba(150, 150, 150, 0.5);
}
@media (width < 740px) {
  .result li {
    border-right: none;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  }
}
.result__title {
  color: var(--grey);
  font-size: 1.4rem;
  font-family: geom;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.result__value {
  font-family: geob;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--black-stete);
}
@media (width < 1100px) {
  .result__value {
    font-size: 2rem;
  }
}
@media (width < 740px) {
  .result__value {
    font-size: 2.4rem;
  }
}
.result__flag {
  height: 3rem;
  width: 5rem;
  margin-top: 0.5rem;
}
@media (width < 740px) {
  .result__flag {
    margin: 0 auto;
    margin-top: 1rem;
  }
}
.result__flag-image {
  height: 100%;
  object-fit: cover;
}
.result__lastchild {
  border-right: none !important;
}

#map {
  background: linear-gradient(to right, rgba(36, 99, 235, 0.2), rgba(79, 70, 229, 0.2));
  flex-basis: 100rem;
  animation: colorise 1s infinite linear;
}

@keyframes colorise {
  0% {
    background: linear-gradient(to right, rgba(36, 99, 235, 0.2), rgba(79, 70, 229, 0.2));
  }
  100% {
    background: linear-gradient(to right, rgba(79, 70, 229, 0.2), rgba(36, 99, 235, 0.2));
  }
}
.tx-up {
  text-transform: uppercase;
}

.loader {
  width: 5rem;
  height: 5rem;
  position: relative;
  transform: rotate(45deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: rgba(0, 0, 0, 0);
  background-image: radial-gradient(circle 11.2px at 50% 50%, rgba(0, 0, 0, 0) 94%, #2563eb);
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
.spinner {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.copy {
  z-index: 9999;
  padding: 1rem;
  background-color: #fff;
  display: grid;
  position: absolute;
  bottom: 0;
  width: 100%;
  place-content: center;
  font-size: 1.4rem;
  color: var(--black-stete);
}
.copy a {
  color: currentColor;
}/*# sourceMappingURL=main.css.map */